.box {
  display: flex;
  flex-direction: row;
  background-color: #1f2d40;
  margin: 0 150px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: aliceblue;
}

a:link {
  text-decoration: none;
}

.box:hover {
  background-color: rgba(255,255,255,0.1);
}

h2, h3 {
  margin: 10px;
}

.sub {
  display: flex;
}

.sub2 {
  display: flex;
  justify-content: flex-end;
}
